.container {
    display: flex;
    justify-content: center;
}

.footer {
    background: rgb(206, 200, 200);
    padding: 15px 10px;
    border-radius: 0 0 10px 10px;
 }

 .vertical-spacer {
    margin: 0px 12px 0px;
    border-right: solid 5px black;
}

