.container {
    display: flex; 
    justify-content: space-between;
}

.header {
    background: #6DAC44;
    padding: 15px 10px;
    color: white;
    font-size: 2em;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
 }

 .navigations {
    display:flex; 
    justify-content: flex-start;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

.vertical-spacer {
     margin: 0px 12px 0px;
     border-right: solid 5px white;
 }