.card {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .container {
      display: flex;
      align-content: center;
  }

  .item {
    display: flex;
    justify-content: center;
    height: auto;
    margin: 4px;
    padding: 20px 0;
    width: auto;
  }

  li {
      font-size: 3rem;
  }

  @media screen and (max-width:900px) {
    ul {
        background-color: green;
    }
    img {
        height: 200px;
        width: 200px
    }
    li {
        font-size: 1rem;
    }
  }
  @media screen and (min-width:900px) and (max-width:1200px) {
    ul {
        background-color: yellow;
    }
    img {
        height: 350px;
        width: 350px
    }
    li {
        font-size: 2rem;
    }

  }
  @media screen and (min-width:1200px) {
    ul {
        background-color: orangered;
    }
    img {
        height: 550px;
        width: 550px
    }

    li {
        font-size: 3rem;
    }

  }